// Place all the styles related to the monters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all {
	margin: auto;
	padding: 5px;
	width: 1200px;
	border: 1px solid #666;
	text-align: center;
	}
.header {
	margin: 0 0 3px 0;
	padding: 3px;
	border: 1px solid #666;
	font-size: 120%
	}
.center {
	position: inherit;
	float: left;
	margin: 0 0 0 210px;
	width: 480px;
	min-height: 600px;
	border: 1px solid #666;
	}
.left {
	float:left;
	margin: 0 0 5px -692px;
	width: 200px;
	min-height: 600px;
	border: 1px solid #666;
	}
.right {
	float: right;
	margin: 0 0 5px 0;
	width: 500px;
	min-height: 600px;
	border: 1px solid #666;
	}
.footer {
	clear: both;
	padding: 5px;
	border: 1px solid #666;
	}
	
/*
 * Row highlighting table1
 */
.ex_highlight #table1 tbody tr.even:hover, #table1 tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #table1 tbody tr.odd:hover, #table1 tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight #table1 tbody tr.even:hover, #table1 tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #table1 tbody tr.odd:hover, #table1 tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight_row #table1 tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row #table1 tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.ex_highlight_row #table1 tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.ex_highlight_row #table1 tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.ex_highlight_row #table1 tr.odd:hover {
	background-color: #E6FF99;
}

.ex_highlight_row #table1 tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.ex_highlight_row #table1 tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.ex_highlight_row #table1 tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}
