// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * Row highlighting table1
 */
.ex_highlight #table1 tbody tr.even:hover, #table1 tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #table1 tbody tr.odd:hover, #table1 tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight #table1 tbody tr.even:hover, #table1 tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #table1 tbody tr.odd:hover, #table1 tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight_row #table1 tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row #table1 tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.ex_highlight_row #table1 tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.ex_highlight_row #table1 tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.ex_highlight_row #table1 tr.odd:hover {
	background-color: #E6FF99;
}

.ex_highlight_row #table1 tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.ex_highlight_row #table1 tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.ex_highlight_row #table1 tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}